name: Daily Run StoreVersionScrapper

on:
  schedule:
    - cron: "20 11 * * *"   # كل يوم الساعة 1:10 ظهرًا بتوقيت مصر (11:10 UTC)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the script
        run: python main.py

      - name: Commit and push JSON
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add output/store_data.json
          git commit -m "Update store_data.json [$(date)]" || echo "No changes to commit"
          git push
