name: Daily Run StoreVersionScrapper

on:
  schedule:
    - cron: "0 11 * * *"   # كل يوم الساعة 1 الظهر بتوقيت مصر (11 UTC)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 lxml

      - name: Run the script
        run: python main.py
