name: Daily Run StoreVersionScrapper

on:
  schedule:
    - cron: "10 11 * * *"   # كل يوم الساعة 1:10 ظهرًا بتوقيت مصر (11:10 UTC)
  workflow_dispatch:        # يسمح بتشغيل يدوي كمان

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run the script
        run: python main.py
